.container{
	position: fixed;
	top: 25%;
	left: 38%;
	margin: auto;
	background-color: #f7f7f7;
	height: 350px;
	width: 350px;
	padding-left: 50px;
	padding-bottom: 10px;
	border-radius: 10px;
}
.reg_container{
	position: fixed;
	top: 15%;
	left: 38%;
	margin:auto;
	background-color: #ffffff;
	height: 700px;
	width: 500px;
	padding-left: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}

h2 {
	font-size: 20px;
	font-family: "Optima", sans-serif;
}

h2.reg-header {
	text-align: center;
	color: #ffffff;
	font-size: 30px;
}

p {
	font-family: "Optima", sans-serif;
}

body{
	background-color: #2f3e95;
}
